HOST=0.0.0.0
PORT=1337
APP_KEYS=toBeModified1,toBeModified2,toBeModified3,toBeModified4
API_TOKEN_SALT=replaceWithRandomString
ADMIN_JWT_SECRET=replaceWithRandomString
TRANSFER_TOKEN_SALT=replaceWithRandomString
JWT_SECRET=replaceWithRandomString
